@model EquipmentsRental.Models.EquipmentModel

<h4>@Utilities.Resources.Resource.DetailsObject</h4>

@if (Model != null)
{
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EquipmentId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EquipmentId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>
}

